/* First */
h2#nr0.start{
    animation: fadeInOut forwards 5.5s;
    animation-delay: 3s;
}

@keyframes fadeInOut{
    0%{ /* 0 */
        height: auto;
        transform: translate(0,50px);
    }   
    20%{/* 1 */
        opacity: 1;
        transform: translate(0,0);
        height: auto;
    }   
    90%{/* 2 */
        opacity: 1;
        transform: translate(0,0);
        height: auto;
    }   
    100%{/* 3 */
        opacity: 0;
        transform: translate(0,-50px);
    }
}

h2#nr0.start span:nth-of-type(1){
    animation: h2_nr0 forwards 1s;
    animation-delay: 5s;
}
h2#nr0.start span:nth-of-type(2){
    animation: h2_nr0 forwards 1s;
    animation-delay: 6s;
}
h2#nr0.start span:nth-of-type(3){
    animation: h2_nr0 forwards 1s;
    animation-delay: 6.3s;
}
h2#nr0.start span:nth-of-type(4){
    animation: h2_nr0 forwards 1s;
    animation-delay: 6.6s;
}
h2#nr0.start span:nth-of-type(5){
    animation: h2_nr0 forwards .5s;
    animation-delay: 7.5s;
}

@keyframes h2_nr0{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        color: #FFD800;
        font-family: 'Monoton', cursive;
    }
}


/* Second */
h2#nr1.start{
    animation: fadeInOut forwards 3.5s;
    animation-delay: 8s;
}
h2#nr1.start span:nth-of-type(1){
    animation: h2_nr1 forwards .5s;
    animation-delay: 10s;
}
h2#nr1.start span:nth-of-type(2){
    animation: h2_nr1 forwards .5s;
    animation-delay: 10.5s;
}

@keyframes h2_nr1{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        color: #FFD800;
        font-family: 'Monoton', cursive;
        font-size: 80px;
    }
}

/* Third */
h2#nr2.start{
    animation: fadeInOut forwards 2.5s;
    animation-delay: 11s;
}

h2#nr2.start span:nth-of-type(1){
    animation: h2_nr2 forwards .25s;
    animation-delay: 11.25s;
}
h2#nr2.start span:nth-of-type(2){
    animation: h2_nr2 forwards .25s;
    animation-delay: 11.5s;
}
h2#nr2.start span:nth-of-type(3){
    animation: h2_nr2 forwards .25s;
    animation-delay: 11.75s;
}
h2#nr2.start span:nth-of-type(4){
    animation: h2_nr2 forwards .25s;
    animation-delay: 12s;
}
h2#nr2.start span:nth-of-type(5){
    animation: h2_nr2 forwards .25s;
    animation-delay: 12.25s;
}
h2#nr2.start span:nth-of-type(6){
    animation: h2_nr2 forwards .25s;
    animation-delay: 12.5s;
}
h2#nr2.start span:nth-of-type(7){
    animation: h2_nr2 forwards .25s;
    animation-delay: 12.75s;
}
h2#nr2.start span:nth-of-type(8){
    animation: h2_nr2 forwards .25s;
    animation-delay: 13s;
}

@keyframes h2_nr2{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}
/* Fourth */
h2#nr3.start{
    animation: fadeInOut forwards 2.5s;
    animation-delay: 13s;
}

h2#nr3.start span:nth-of-type(1){
    animation: h2_nr3 forwards .25s;
    animation-delay: 13.3s;
}
h2#nr3.start span:nth-of-type(2){
    animation: h2_nr3 forwards .25s;
    animation-delay: 13.6s;
}
h2#nr3.start span:nth-of-type(3){
    animation: h2_nr3 forwards .25s;
    animation-delay: 13.9s;
}
h2#nr3.start span:nth-of-type(4){
    animation: h2_nr3 forwards .25s;
    animation-delay: 14.2s;
}
h2#nr3.start span:nth-of-type(5){
    animation: h2_nr3 forwards .25s;
    animation-delay: 14.5s;
}
h2#nr3.start span:nth-of-type(6){
    animation: h2_nr3 forwards .25s;
    animation-delay: 15s;
}
@keyframes h2_nr3{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}

/* Fifth */
h2#nr4.start{
    animation: fadeInOut forwards 3.5s;
    animation-delay: 16.5s;
}
h2#nr4.start span:nth-of-type(1){
    animation: h2_nr4 forwards .3s;
    animation-delay: 16.8s;
}
h2#nr4.start span:nth-of-type(2){
    animation: h2_nr4 forwards .3s;
    animation-delay: 17.1s;
}
h2#nr4.start span:nth-of-type(3){
    animation: h2_nr4 forwards .3s;
    animation-delay: 17.4s;
}
h2#nr4.start span:nth-of-type(4){
    animation: h2_nr4 forwards .3s;
    animation-delay: 17.7s;
}
h2#nr4.start span:nth-of-type(5){
    animation: h2_nr4_span5 forwards 1.5s;
    animation-delay: 18s;
}

@keyframes h2_nr4{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}
@keyframes h2_nr4_span5{
    0%{
        opacity: .4;
        transform: rotate(0);
    }
    75%{
        opacity: 1;
        transform: rotate(0) scale(1);
    }
    100%{
        transform: rotate(-360deg) scale(0);
        opacity: 1;
        font-size: 40px;
    }
}

/* Six */
h2#nr5.start{
    animation: fadeInOut forwards 3.5s;
    animation-delay: 20s;
}
h2#nr5.start span:nth-of-type(1){
    animation: h2_nr5 forwards .3s;
    animation-delay: 20.5s;
}
h2#nr5.start span:nth-of-type(2){
    animation: h2_nr5_span2_3 forwards .3s;
    animation-delay: 20.8s;
}
h2#nr5.start span:nth-of-type(3){
    animation: h2_nr5_span2_3 forwards .3s;
    animation-delay: 20.8s;
}
h2#nr5.start span:nth-of-type(4){
    animation: h2_nr5 forwards .3s;
    animation-delay: 21.1s;
}
h2#nr5.start span:nth-of-type(5){
    animation: h2_nr5 forwards .3s;
    animation-delay: 21.4s;
}
h2#nr5.start span:nth-of-type(6){
    animation: h2_nr5 forwards .3s;
    animation-delay: 21.7s;
}
h2#nr5.start span:nth-of-type(7){
    animation: h2_nr5_span7 forwards .3s;
    animation-delay: 22s;
}

@keyframes h2_nr5{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}
@keyframes h2_nr5_span2_3{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
    }
}

@keyframes h2_nr5_span7{
    0%{
        opacity: .4;
    }
    50%{
        opacity: 1;
        font-size: 50px;
    }
    100%{
        opacity: 1;
        font-size: 60px;
        color: yellow;
    }
}

/* Seven */
h2#nr6.start{
    animation: fadeInOut forwards 3.5s;
    animation-delay: 23s;
}
h2#nr6.start span:nth-of-type(1){
    animation: h2_nr6 forwards .3s;
    animation-delay: 23s;
}
h2#nr6.start span:nth-of-type(2){
    animation: h2_nr6 forwards .3s;
    animation-delay: 23.3s;
}
h2#nr6.start span:nth-of-type(3){
    animation: h2_nr6 forwards .3s;
    animation-delay: 23.6s;
}
h2#nr6.start span:nth-of-type(4){
    animation: h2_nr6 forwards .3s;
    animation-delay: 23.9s;
}
h2#nr6.start span:nth-of-type(5){
    animation: h2_nr6 forwards .3s;
    animation-delay: 24.2s;
}
h2#nr6.start span:nth-of-type(6){
    animation: h2_nr6_span6 forwards .3s;
    animation-delay: 24.5s;
}
h2#nr6.start span:nth-of-type(7){
    animation: h2_nr6 forwards .3s;
    animation-delay: 24.8s;
}
@keyframes h2_nr6{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}
@keyframes h2_nr6_span6{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 45px;
        font-family: 'Pirata One', cursive;
        color: brown;
    }
}

/* Eight */
h2#nr7.start{
    animation: fadeInOut forwards 3.5s;
    animation-delay: 26s;
}

h2#nr7.start span:nth-of-type(1){
    animation: h2_nr7 forwards 0.3s;
    animation-delay: 26.3s;
}
h2#nr7.start span:nth-of-type(2){
    animation: h2_nr7 forwards 0.3s;
    animation-delay: 26.6s;
}

h2#nr7.start span:nth-of-type(3){
    animation: h2_nr7 forwards 0.3s;
    animation-delay: 26.9s;
}
h2#nr7.start span:nth-of-type(4){
    animation: h2_nr7 forwards 0.3s;
    animation-delay: 27.2s;
}
h2#nr7.start span:nth-of-type(5){
    animation: h2_nr7_span5 forwards 1s;
    animation-delay: 27.5s;
}
h2#nr7.start span:nth-of-type(6){
    animation: h2_nr7 forwards 0.3s;
    animation-delay: 27.8s;
}
@keyframes h2_nr7{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}
@keyframes h2_nr7_span5{
    0%{
        opacity: .4;
    }
    35%{
        color: yellow;
    }
    65%{
        color: orange;
    }
    100%{
        opacity: 1;
        font-size: 45px;
        color: red;
    }
}


/* Nine */
h2#nr8.start{
    animation: fadeInOut forwards 2s;
    animation-delay: 29.5s;
}

h2#nr8.start span:nth-of-type(1){
    animation: h2_nr8 forwards 0.3s;
    animation-delay: 30.3s;
}
h2#nr8.start span:nth-of-type(2){
    animation: h2_nr8 forwards 0.3s;
    animation-delay: 30.6s;
}
h2#nr8.start span:nth-of-type(3){
    animation: h2_nr8 forwards 0.3s;
    animation-delay: 30.9s;
}

@keyframes h2_nr8{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 40px;
    }
}

/* Ten */
h2#nr9.start{
    animation: fadeInOut forwards 2s;
    animation-delay: 34s;
}

h2#nr9.start span:nth-of-type(1){
    animation: h2_nr9 forwards 0.4s;
    animation-delay: 34.9s;
}
h2#nr9.start span:nth-of-type(2){
    animation: h2_nr9 forwards 0.4s;
    animation-delay: 35.3s;
}

@keyframes h2_nr9{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}

/* Eleven */
h2#nr10.start{
    animation: fadeInOut forwards 2s;
    animation-delay: 35.5s;
}

h2#nr10.start span:nth-of-type(1){
    animation: h2_nr10 forwards 0.4s;
    animation-delay: 36.4s;
}
h2#nr10.start span:nth-of-type(2){
    animation: h2_nr10 forwards 0.4s;
    animation-delay: 36.8s;
}

@keyframes h2_nr10{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}

/* Twelve */
h2#nr11.start{
    animation: fadeInOut forwards 2s;
    animation-delay: 37.5s;
}

h2#nr11.start span:nth-of-type(1){
    animation: h2_nr11 forwards 0.3s;
    animation-delay: 38.3s;
}
h2#nr11.start span:nth-of-type(2){
    animation: h2_nr11 forwards 0.3s;
    animation-delay: 38.6s;
}
h2#nr11.start span:nth-of-type(3){
    animation: h2_nr11 forwards 0.3s;
    animation-delay: 38.9s;
}

@keyframes h2_nr11{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}

/* Thirteen */
h2#nr12.start{
    animation: fadeInOut forwards 2.5s;
    animation-delay: 39.5s;
}

h2#nr12.start span:nth-of-type(1){
    animation: h2_nr12 forwards 0.5s;
    animation-delay: 40s;
}
h2#nr12.start span:nth-of-type(2){
    animation: h2_nr12 forwards 0.5s;
    animation-delay: 40.5s;
}
h2#nr12.start span:nth-of-type(3){
    animation: h2_nr12 forwards 0.5s;
    animation-delay: 41s;
}

@keyframes h2_nr12{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}

/* Fourteen */
h2#nr13.start{
    animation: fadeInOut forwards 1.5s;
    animation-delay: 42.5s;
}

h2#nr13.start span:nth-of-type(1){
    animation: h2_nr13 forwards 0.5s;
    animation-delay: 43s;
}

@keyframes h2_nr13{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}
/* Fifteen */
h2#nr14.start{
    animation: fadeInOut forwards 1.5s;
    animation-delay: 43.5s;
}

h2#nr14.start span:nth-of-type(1){
    animation: h2_nr14 forwards 0.5s;
    animation-delay: 44s;
}

@keyframes h2_nr14{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        color: black;
    }
}